@use "sass:color";

$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
  "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$uoc-corporate: #000078;
$futbol-negro: #090f0f;
$futbol-puro-negro: #000;
$futbol-negro-escala: color.scale($futbol-puro-negro, $lightness: 30%);
$futbol-blanco: #f5f5f5;
$futbol-verde: #09c269;
$futbol-verde-escala: color.scale($futbol-verde, $lightness: 10%);
$futbol-gris: #d3d2d2;
$futbol-gris-escala: color.scale($futbol-gris, $lightness: 13%);

$mqMinWidth: 420px;
